$flatiron-blue: #26c4ff;

@import url(http://fonts.googleapis.com/css?family=Overlock:400,700,900,400italic,700italic,900italic);

@mixin border-radius($size) {
  -webkit-border-radius: $size;
     -moz-border-radius: $size;
          border-radius: $size;
}

body {
  font-family: 'Overlock', 'Helvetica', 'Arial', sans-serif;
  background: url(/img/tables/1500-by-1500.jpg);
  border: 4px white solid; 
}

.container{
  border: 4px blue solid; 
}

.col-mid-4 {
  border: 4px green solid; 
}

/* grid */
.container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.col12{
  width: 8.5%;
  display: inline-block;
}

.col10{
  width: 10%;
  display: inline-block;
}

.col8{
  width: 12.5%;
  display: inline-block
}
.col6 {
  width: 15%;
  display: inline-block;
}

.col5 {
  width: 20%;
  display: inline-block;
}

.col4 {
  width: 25%;
  display: inline-block;
}

.col3 {
  width: 33%;
  display: inline-block;
}

.col2 {
  width: 50%;
  display: inline-block;
}

/* layout components */
footer {
  position: fixed;
  bottom: 0;
  color: white;
  text-align: center;
  width: 100%;
}

/* type */
h1 {
  color: white;
  font-weight: 900;
  font-size: 40px;
}

/* cards */
.card {
  @include border-radius(10px);
  height: 90px;
  position: relative;
  display: inline-block;

  /* events */
  &:hover{
    cursor: pointer;
  }

  /* card status */

  &.disabled{
    background-color: gray;
    color: #666666;
  }
}

/* jeopardy */
.scoreboard-container {
  height: 125px;
  position: fixed;
  bottom: 10px;
  background: rgba(255,255,255,0.5);
  width: 100%;
  margin: 10px auto;
  padding: 10px;
}

.scoreboard {
  width: 80%;
  margin: auto;
  .player, .score {
    display: inline-block;
  }
  .user {
    h2 {
      margin: 0;
    }
    img {
      background-color: rgba(255,255,255,0.3);
      border: 1px white solid;
      padding: 10px;
    }
  }

  button {
    @include border-radius(10px);

    border: none;
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: 900;
    width: 40px;
    height: 40px;
    text-align: center;
    &.disabled{
      background-color: gray;
      color: #666666;
    }
  }
}

.board {
  width: 80%;
  margin: auto;
}