%h1 Blackjack!
.board
  - @cards.collect { |card| card.category }.uniq!.each do |category|
    .card.col6.cat-card
      .cat
        = category
  - @cards.each do |card|
    = partial :card, @card=card
= partial :scoreboard