.col5
  %h1 Blackjack!
  %h2 Welcome to Blackjack!
  / - @yaml_cards.each do |card|
  /   = partial :card, @card=card
  = partial :card, @card = @yaml_cards.pop
  = partial :card, @card = @yaml_cards.pop

  %button{:class => 'btn btn-primary btn-lg', :href =>"#", :type=> "button"} Deal!
  %button{:class => 'btn btn-lg', :href =>"#", :type=> "button"} Stand
  %button{:class => 'btn btn-lg', :href =>"#", :type=> "button"} Hit!
  %button{:class => 'btn btn-lg', :href =>"#", :type=> "button"} Split!
