%html
  %head
    %title Blackjack!
    %link{:href=>"/styles.css", :rel=>"stylesheet"}


  %body
    .container
      = yield

  %script{:src=>"http://code.jquery.com/jquery-1.11.0.min.js"}
  %script{:src =>"/js/jquery.transit.min.js"}
  %script{:src =>"/js/test.js"}