%html
  %head
    %title Blackjack!
    %link{:href=>"/bootstrap311/css/bootstrap.min.css", :rel=>"stylesheet"}
    %link{:href=>"/styles.css", :rel=>"stylesheet"}


  %body
    .container-fluid
      = yield

  %script{:src=>"http://code.jquery.com/jquery-1.11.0.min.js"}
  %script{:src=>"http://code.jquery.com/jquery-migrate-1.2.1.min.js"}
  %script{:src=>"/bootstrap311/js/bootstrap.min.js"}
  %script{:src =>"/js/test.js"}